@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;

}

h1,
h2,
h3 {
    text-align: center;
}

nav {
    background-color: #022449;
    color: #fafafa;
    font-weight: bold;
}

.brand-logo {
    padding-left: 20px;
    margin-left: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.card {
    width: 180px;
    height: 320px;
    border: 1px solid slateblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    text-align: center;
    color: #022449;
}

#step1 {
    background-color: #C8EFF9;
}

#step2 {
    background-color: #96FFFF;
}

#step3 {
    background-color: #55BDCA;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

#sign-in-up-list {
    display: flex;
    flex-direction: column;
    width: 120px;
    background-color: #022449;
    color: #fafafa;
    position: absolute;
    right: -120px;
    cursor: pointer;

}

.logins {
    z-index: 2;
}

.nav-wrapper{
    padding-right: 30px;
}

.card a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.logins:hover #sign-in-up-list {
    right: 0px;
    animation: dropdown 0.5s ease-in-out;
}

.user-search{
    margin-top: 80px;
    border: 2px solid #022449;
    background-color: #55BDCA;
    padding: 50px;
    border-radius: 10px;
    color: #fafafa;
}

.user-search form label{
    color: #fafafa;
    font-size: 2em;
}

.searchbar{
    background-color: #fafafa;
    
}

@keyframes dropdown {
    from {
        right: -120px;
    }

    to {
        right: 0px;
    }

}