{% extends 'base.html' %}
{% block content %}
<div class="how-it-works">
	<h2>How it Works</h2>
	<p>Have you ever found that you end up not using, not enjoying or regifting a large number of the gifts you receive
		every year?</p>
	<p>
		Pressie is here to help. Create your own bespoke wishlist and easily direct anyone to it with your phone number
		(or any other number that you choose)!</p>
	<p>
		<br>Step 1: Set a wishlist<br>Step 2: Add Items <br> Step 3: Direct people to Pressie with the number associated with your list.
	</p>
</div>
<div class="who-we-are">
	<h2>About me: Zac Warner</h2>
	<p>Full Stack Developer & Student</p>
</div>
<div class="contact">
	<h2>Get in Touch</h2>
	<a href="https://geminerald.github.io/geminerald/" target="_blank">My Website</a>

</div>
{% endblock %}