{% extends 'base.html' %}
{% block content %}
<div class="row">
	<h3>Add Items to your Wishlist</h3>
</div>
<form action="{{url_for('additems', list_id=item_list_id)}}" method="POST" class="col s12">
	<div class="row item">

		<div class="input-field col s12">
			<input type="text" name = "list_id" value = "{{item_list_id}}" hidden>
        </div>
		</div>
		<div class="row">
			<div class="input-field col s12 m6">
				<input  id="item_name" name="item_name" type="text" class="validate" required>
				<label for="item_name">Item Name</label>
				<p>Add the name for your item as you wish it to appear on your wishlist</p>
			</div>
			<div class="input-field col s12 m6">
				<input  id="item_link" name="item_link" type="text" class="validate" required>
				<label for="item_link">Link to item</label>
				<p>Please include a link to an example of a website where your item can be purchased.</p>
			</div>

			<div class="row add-item-buttons">
				<button id="submit" class="btn waves-effect waves-light submit-button" type="submit" name="action">
                    Submit <i class="material-icons right">send</i>
		        </button>
				<a href="{{url_for('profile', user=session.user)}}" class="waves-effect waves-light btn back-button">
					<i class="material-icons right">cancel</i>
					Cancel
				</a>

			</div>
		</div>
</form>
<p>Add as many items to your list as you wish, don't worry you can always edit it after you're done.</p>
{% endblock %}