{% extends 'base.html' %}
{% block content %}
<div class="row">
	<h3>About your Wishlist</h3>
</div>
<form action="{{url_for('wishlist', method='POST', user=session.user)}}" method="POST" class="col s12">
	<div class="row">
		<div class="input-field col s6">
			<input  id="phone_number" name="phone_number" type="text" class="validate" required>
			<label for="phone_number">Phone Number</label>

		</div>
		<div class="input-field col s6">
			<input  id="list_username" name="list_username" type="text" class="validate" value="{{user.email}}" required>
			<label for="list_username">{{user.email}}</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s6">
			<input  id="first_name" name="first_name" type="text" class="validate" required>
			<label for="first_name">First Name</label>
		</div>
		<div class="input-field col s6">
			<input id="last_name" name="last_name" type="text" class="validate" required>
			<label for="last_name">Last Name</label>
		</div>
	</div>
	<div class="row">
		<div id="wishlist-switch" class="wishlist-switch col s12">
			<p>Is your list ordered?</p>
			<div class="switch">
				<label>
                    No, show my list in any order.
                    <input type="checkbox" id = "ordered" name = "ordered">
                    <span class="lever"></span>
                    Yes, I will put things I want more first.
                </label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="wishlist-switch col s12">
			<p>Do you want to know what has been bought?</p>
			<div class="switch">
				<label>
                    No, keep it a surprise.
                    <input type="checkbox" id = "surprise" name = "surprise">
                    <span class="lever"></span>
                    Yes, I want to know what has been bought.
                </label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="wishlist-switch col s12">
			<p>Is your Wishlist private or public?</p>
			<div class="switch">
				<label>
                    Public, anyone can locate it with my name.
                    <input type="checkbox" id = "private" name = "private">
                    <span class="lever"></span>
                    Private, I will enter phone numbers for people who can access my Wishlist.
                </label>
			</div>
		</div>
	</div>
	<div class="row button-row">
        {% include 'components/submitbutton.html' %}
		{% include 'components/backtoprofile.html' %}

	</div>
</form>
{% endblock %}