
/*Imports------------------------------------------------------------------------------Imports*/

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');



/*End Imports--------------------------------------------------------------------------End Imports*/

/*Colours------------------------------------------------------------------------------Colours*/

/*

Dark Blue: #022449;

Med Dark Blue: #C8EFF9

Medium Blue: #96FFFF;

Light Blue: #55BDCA;

Orange: #f27d42;
    
Light Orange: #f7ba9c;

White: #fafafa;

*/

/*End Colours----------------------------------------------------------------------------End Colours*/

/*Globals--------------------------------------------------------------------------------Globals*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1,
h2,
h3 {
    text-align: center;
}

.btn{
    margin: 10px;
    border-radius: 3px;
    background-color: #022449;
    color: #fafafa;
    animation-duration: 0.5s ease;
}

.btn:hover,
.btm:focus{
    background-color: #fafafa;
    color: #022449;
}

/*End Globals--------------------------------------------------------------------End Globals*/

/*Logins--------------------------------------------------------------------Logins*/

.login-form, .register-form{
    width: 60%;
    margin-top:35px;
}


/*End Logins--------------------------------------------------------------------End Logins*/
/*Nav--------------------------------------------------------------------Nav*/


nav {
    background-color: #022449;
    color: #fafafa;
    font-weight: bold;
}

.brand-logo {
    padding-left: 20px;
    margin-left: 20px;
}

#sign-in-up-list {
    display: flex;
    flex-direction: column;
    width: 120px;
    background-color: #022449;
    color: #fafafa;
    position: absolute;
    right: -120px;
    cursor: pointer;

}

.logins {
    z-index: 2;
}

.nav-wrapper{
    padding-right: 30px;
}

.logins:hover #sign-in-up-list,
.logins:focus #sign-in-up-list {
    right: 0px;
    animation: dropdown 0.5s ease-in-out;
}

/*End Nav--------------------------------------------------------------------End Nav*/
/*Home Page--------------------------------------------------------------------Home Page*/

.cards {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.card {
    width: 180px;
    height: 320px;
    border: 1px solid slateblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    text-align: center;
    color: #022449;
    margin:25px;
}

.card a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

#step1 {
    background-color: #C8EFF9;
}

#step2 {
    background-color: #96FFFF;
}

#step3 {
    background-color: #C8EFF9;
}

.welcome{

    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.sort-column{
    display: flex;
    flex-direction: column;
}

/*End Home Page--------------------------------------------------------------------End Home Page*/

/*Wishlist Page--------------------------------------------------------------------Wishlist Page*/

.wishlist-switch {
    margin:20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.submit-button{
    background-color: #f27d42;
    border: 2px solid #f7ba9c;
    color: #fafafa;
}

.submit-button:hover,
.submit-button:focus{
    color: #f27d42;
    background-color: #fafafa;
    border: 2px solid #f27d42;
}

.back-button{
    background-color: #022449;
    color: #fafafa;
    border: 2px solid #022449;
}

.back-button:hover,
.back-button:focus{
    color: #022449;
    background-color: #fafafa;
    border: 2px solid #022449;
}

.done-button{
    background-color: #55bdca;
    color:#022449 ;
}

.done-button:hover,
.done-button:focus{
    background-color: #022449;
    color:#55bdca;
}

.button-row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*End Wishlist Page--------------------------------------------------------------------End Wishlist Page*/

/*Add Item  Page--------------------------------------------------------------------Add Item Page*/

.item{
    margin: 65px;
}

.add-item-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*End Add Item Page--------------------------------------------------------------------End Add Item Page*/

.view-wishlist{
    width: 100%;
    border: 1px solid #022449;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px auto;
}






/*Finder Page--------------------------------------------------------------------Finder Page*/


.user-search{
    margin-top: 80px;
    border: 2px solid #022449;
    background-color: #55BDCA;
    padding: 50px;
    border-radius: 3px;
    color: #fafafa;
}

.user-search form label{
    color: #fafafa;
    font-size: 2em;
}

.searchbar{
    background-color: #fafafa;
    
}

/*End Finder Page--------------------------------------------------------------------End Finder Page*/


/*Temporary Styles--------------------------------------------------------------------Temporary Styles*/
.visible {
    display: block;
    opacity: 1;
}

.invisible {
    display: none;
    opacity: 0;
}

/*End Temporary Styles--------------------------------------------------------------------End Temporary Styles*/
/*Animations--------------------------------------------------------------------Animations*/

@keyframes dropdown {
    from {
        right: -120px;
    }

    to {
        right: 0px;
    }

}

/*End Animations--------------------------------------------------------------------End Animations*/