
/*Imports*/

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


/*Colours------------------------------------------------------------------------------Colours*/

:root{
    --dark-blue: #022449;
    --white: #fafafa;
    --yellow: #ffc107;
    --light-blue: #55BDCA;
}

html{
    font-size: 62.5%;
}

/*

Dark Blue: #022449;

Med Dark Blue: #C8EFF9

Medium Blue: #96FFFF;

Light Blue: #55BDCA;

Orange: #f27d42;
    
Light Orange: #f7ba9c;

White: #fafafa;

*/

/*End Colours----------------------------------------------------------------------------End Colours*/

/*Globals*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    
}

a{
    text-decoration: none;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1,
h2,
h3 {
    text-align: center;
}

.btn{
    margin: 1rem;
    border-radius: 3px;
    background-color: var(--dark-blue);
    color: var(--white);
    animation-duration: 0.5s ease;
}

.btn:hover,
.btm:focus{
    background-color: var(--white);
    color: var(--dark-blue);
}



.submit-button{
    
    color: var(--white);
}

.button-row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.alert{
    margin: 2rem;
}

/*Logins*/

.login-form, .register-form{
    width: 60%;
    margin-top:3.5rem;
}


/*Nav*/


nav {
    background-color: var(--dark-blue);
    color: var(--white);
    font-weight: bold;
}


.navlink a{
    font-size: 1.5rem;
}

nav .brand-logo{
    height: 100%;
    transition: 0.5s ease-in-out;
    text-decoration: none;
    padding-left: 2rem;
    padding-right: 2rem;
    }

.brand-logo:hover{
    background-color: var(--white);
    color: var(--dark-blue);
}

.nav-wrapper{
    padding-right: 3rem;
}

/*Home Page*/

.cards {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.card {
    width: 18rem;
    height: 32rem;
    border: 1px solid var(--dark-blue);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem;
    text-align: center;
    color:var(--dark-blue);
    margin: 2.5rem;
    font: 1em sans-serif;
}

.card a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    text-decoration: none;
}

.navlink a{
    text-decoration: none;
}

.navlink a:hover{
    background-color: var(--white)
}

#step1 {
    background-color: #C8EFF9;
}

#step2 {
    background-color: #96FFFF;
}

.welcome{

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

}

.home-link{
    text-decoration: none;
}

.home-link:hover{
    background-color: var(--white);
}


.sort-column{
    display: flex;
    flex-direction: column;
}

/*Wishlist Page*/

.wishlist-switch {
    margin:2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}


/*Add Item Page*/

.item{
    margin: 6.5rem;
}

.add-item-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*View Wishlist Page*/

.view-wishlist{
    width: 100%;
    border: 1px solid var(--dark-blue);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 2rem auto;
}


/*Finder Page*/


.user-search{
    margin-top: 8rem;
    border: 2px solid var(--dark-blue);
    background-color: #55BDCA;
    padding: 5rem;
    border-radius: 3px;
    color: var(--white);
}

.user-search form label{
    color: var(--white);
    font-size: 2em;
}

.searchbar{
    background-color: var(--white);
    
}

/*Animations*/
