<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% if title %}
	<title>Pressie - {{title}}</title>
	{% else %}
	<title>Pressie</title>
	{% endif %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="{{url_for('static', filename='style/style.css')}}" type="text/css" />
	<link rel="icon" href="{{url_for('static', filename='images/pressie-icon.png')}}">
</head>

<body>
	<header>
		<nav>
			<div class="nav-wrapper">
				<a href="{{url_for('home')}}" class="brand-logo"><i class="material-icons">card_giftcard</i>Pressie</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="{{url_for('finder')}}">Find a Gift</a></li>
					<li><a href="{{url_for('about')}}">About</a></li>
                    {% if session.user %}
                    <li><a href="{{url_for('wishlist', user=session.user)}}">Make a List</a></li>
					<li><a href="{{url_for('profile', user=session.user)}}">Profile</a></li>
					<li><a href="{{url_for('logout')}}">Sign Out</a></li>
                    {% else %}
					<li id="login-modal"><a href="{{url_for('login')}}">Log In</a></li>
					<li id="sign-up-modal"><a href="{{url_for('register')}}">Sign Up</a></li>
                    {% endif %}
				</ul>
			</div>
		</nav>
	</header>
	<div class="container">
		{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
		{% for category,message in messages%}
		<div class="alert alert-{{ category }}">
			{{ message }}
		</div>
		{% endfor %}
		{% endif %}
		{% endwith %}
		{% block content %}
		{% endblock %}

	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
	<script src="{{url_for('static', filename='js/app.js')}}"></script>
</body>

</html>