{% extends 'base.html' %}
{% block content %}
<div class="row my-info">
	<h2>Personal Info</h2>
</div>
<div class="row">
	<p>{{user.username}}</p>
	<p>{{user.email}}</p>
	<p>{{user.firstname}} {{user.lastname}}</p>
</div>
<div class="my-wishlists row">
	<div class="wishlists">
		<h2>Wishlists</h2>
		{% for wishlist in lists %}
		<div class="wishlist">
			<h3>{{wishlist.list_name}}</h3>
            <button class = "btn btn-small">View</button>
            <button class = "btn btn-small">Add Items</button>
            <a href="{{url_for('delete_wishlist', list_id = wishlist._id)}}"
					class="btn btn-small"><i class="material-icons right"></i>Delete</a>
            <button class = "btn btn-small">Edit</button>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}