{% extends 'base.html' %}
{% block content %}
<div class="row">
	<h3>About your Wishlist</h3>
</div>
<form action="{{url_for('insert_wishlist')}}" method="POST" class="col s12">
	<div class="row">
		<div class="input-field col s6">
			<input  id="list_name" name="list_name" type="text" class="validate" required>
			<label for="list_name">List Name</label>

		</div>
		<div class="input-field col s6">
			<div class="form-group">
				<select class="form-control" id="username" name = "list_username">
                    {% for user in users %}
                        <option>{{user.username}}</option>
                    {% endfor %}
                </select>
				<label for="list_username">Username</label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s6">
			<input  id="first_name" name="first_name" type="text" class="validate" required>
			<label for="first_name">First Name</label>
		</div>
		<div class="input-field col s6">
			<input id="last_name" name="last_name" type="text" class="validate" required>
			<label for="last_name">Last Name</label>
		</div>
	</div>
	<div class="row">
		<div class="wishlist-switch col s12">
			<p>Is your list ordered?</p>
			<div class="switch">
				<label>
                    No, show my list in any order.
                    <input type="checkbox" id = "ordered" name = "ordered">
                    <span class="lever"></span>
                    Yes, I will put things I want more first.
                </label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="wishlist-switch col s12">
			<p>Do you want to know what has been bought?</p>
			<div class="switch">
				<label>
                    No, keep it a surprise.
                    <input type="checkbox" id = "surprise" name = "surprise">
                    <span class="lever"></span>
                    Yes, I want to know what has been bought.
                </label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="wishlist-switch col s12">
			<p>Is your Wishlist private or public?</p>
			<div class="switch">
				<label>
                    Public, anyone can locate it with my name.
                    <input type="checkbox" id = "private" name = "private">
                    <span class="lever"></span>
                    Private, I will enter phone numbers for people who can access my Wishlist.
                </label>
			</div>
		</div>
	</div>
	<div class="row button-row">
		<button id="submit" class="btn waves-effect waves-light submit-button"
			type="submit" name="action">Submit
			<i class="material-icons right">send</i>
		</button>
		<a href="{{url_for('home')}}"
			class="waves-effect waves-light btn back-button"><i class="material-icons right"></i>Back</a>

	</div>
</form>
{% endblock %}